In [5]:
from faker import Faker
faker = Faker()
import pandas as pd
import datetime as dt

In [71]:
df = pd.DataFrame([faker.profile() for _ in range(500)])

In [72]:
df = df.convert_dtypes()
df.dtypes

job                 string
company             string
ssn                 string
residence           string
current_location    object
blood_group         string
website             object
username            string
name                string
sex                 string
address             string
mail                string
birthdate           object
dtype: object

In [73]:
df['birthdate'] = pd.to_datetime(df['birthdate'])

In [74]:
df['sex'] = df['sex'].astype('category')
df.dtypes

job                         string
company                     string
ssn                         string
residence                   string
current_location            object
blood_group                 string
website                     object
username                    string
name                        string
sex                       category
address                     string
mail                        string
birthdate           datetime64[ns]
dtype: object

In [75]:
df['blood_type'] = df['blood_group'].astype('category')

In [76]:
df['current_location'].head(3)

0     (-11.7563585, 144.190888)
1       (-10.3709825, 6.366219)
2    (-80.4614325, -113.333897)
Name: current_location, dtype: object

In [77]:
f = lambda x: (f'{x[0]:.2f}',f'{x[1]:.2f}')
df['current_location'] = df['current_location'].map(f)

In [78]:
df.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate,blood_type
0,Hospital pharmacist,"Smith, Mckee and Brown",226-01-0477,"056 Stout Lakes Suite 142 Rhodesview, DE 92030","(-11.76, 144.19)",B-,"[https://gay-padilla.net/, http://www.johns.in...",amandafields,Andre Davis,M,"784 Diana Parks Lake Matthewport, IA 28184",anna30@yahoo.com,1966-11-12,B-
1,Purchasing manager,"Brown, Good and Davidson",743-13-8876,"662 Rowe Valleys Apt. 952 Pottsport, LA 93452","(-10.37, 6.37)",B-,"[http://www.weaver-ramirez.info/, https://barn...",valerie16,Donald Boyd,M,"72247 Daniel Vista Apt. 452 Santosmouth, GA 94137",joshuarivera@gmail.com,1972-12-16,B-
2,Research scientist (medical),Morrison Group,391-45-6091,"12671 Eric Dam Troytown, IN 71830","(-80.46, -113.33)",A-,"[https://hendricks-tran.com/, https://howe.org/]",tstout,Deborah Delacruz,F,USS Long FPO AP 98676,christopher80@hotmail.com,1986-09-18,A-
3,Probation officer,Richards and Sons,394-16-7860,"18417 Todd Shoal Port Josebury, MN 14909","(-47.73, -63.06)",A+,"[https://www.weber-torres.com/, http://king.co...",nicolefrazier,Michael Gillespie,M,"65774 Shaw Brooks Apt. 742 Robertfort, CT 34913",matthew77@hotmail.com,1969-04-14,A+
4,Field trials officer,Cook Inc,552-82-5481,"7033 April Spurs Apt. 003 Ginaberg, MI 89673","(68.84, -26.63)",AB+,[https://nunez-reyes.com/],jeremyowens,Carla Singh,F,"07569 Boone Throughway Ericaside, NE 74243",powerssean@gmail.com,2002-05-18,AB+

In [79]:
df.dtypes

job                         string
company                     string
ssn                         string
residence                   string
current_location            object
blood_group                 string
website                     object
username                    string
name                        string
sex                       category
address                     string
mail                        string
birthdate           datetime64[ns]
blood_type                category
dtype: object

In [80]:
df['blood_group'] = df['blood_type']
df.drop('blood_type', axis=1, inplace=True)

In [81]:
df.columns

Index(['job', 'company', 'ssn', 'residence', 'current_location', 'blood_group',
       'website', 'username', 'name', 'sex', 'address', 'mail', 'birthdate'],
      dtype='object')

In [82]:
groups = df['blood_group'].value_counts()
groups

B+     79
AB+    67
B-     62
A-     61
O-     61
AB-    59
O+     59
A+     52
Name: blood_group, dtype: int64

In [94]:
universal_donors_count = groups['O-']
groups
print(f'Only \
{universal_donors_count/groups.sum()*100}\
 % are universal blood donors.')

Only 12.2 % are universal blood donors.