In [1]:
import pandas as pd

In [5]:
import pandas as pd

In [1]:
dic = {'Alumno':'Carlos Juan Clara Carmen Laura Natalia Marina Mario Grupo'.split(),
       'Importe': [120, 60, 32, 24, 40, 52, 32, 140, 180]}

In [2]:
dic

{'Alumno': ['Carlos',
  'Juan',
  'Clara',
  'Carmen',
  'Laura',
  'Natalia',
  'Marina',
  'Mario',
  'Grupo'],
 'Importe': [120, 60, 32, 24, 40, 52, 32, 140, 180]}

In [6]:
df = pd.DataFrame(dic)

In [9]:
df.sort_values('Alumno')

    Alumno  Importe
0   Carlos      120
3   Carmen       24
2    Clara       32
8    Grupo      180
1     Juan       60
4    Laura       40
6   Marina       32
7    Mario      140
5  Natalia       52

In [13]:
total = df['Importe'].sum()
total

680